body {
    margin: 0;
    font-family: "Fanwood Text";
    background: #e6e3e3;
}

.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: #ddd8d8;
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 40px;
    top: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.logo img {
    height: 300%;
    width: auto;
    display: block;
    cursor: pointer;
}

.menu {
    position: absolute;
    right: 40px;
    top: 18px;
}

.menu span {
    margin-left: 28px;
    font-size: 14px;
    color: #6e5b54;
    
}

/* ABOUT SECTION */
.about-section {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 90%;
    margin: 40px auto;
    padding: 60px 70px;

    background-color: #D9D9D9;
    border-radius: 30px;

    /* ظل خفيف ليبين البوكس */
    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.05);
}

.about-text {
    width: 40%;
    font-size: 20px;
    line-height: 1.7;
    font-family: "Inria Serif";
    color: #7a5b53;
}

.about-images {
    position: relative;
    width: 68%;
    height: 420px;
    /* على حدود الصور */
    margin-left: 200px;
}

.about-images img {
    position: absolute;
    width: 260px;
    height: 380px;
    object-fit: cover;
    border-radius: 22px;
}

.img1 {
    left: 60px;
    top: 40px;
    z-index: 3;
}

.img2 {
    left: 240px;
    top: 0;
    z-index: 2;
}

/* Footer Styles */

.main-footer {
    background: #ddd8d8;
    padding: 40px 60px 20px;
    font-family: "Fanwood Text";
}

.footer-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.2fr 1fr;
    gap: 40px;
    margin-bottom: 25px;
    align-items: flex-start;

}

.footer-logo img {
    margin-bottom: 30px;
    cursor: pointer;
}

.footer-col h4 {
    margin-bottom: 12px;
    color: #444;
}

.footer-col p {
    margin: 6px 0;
    font-size: 14px;
    color: #5A5B5E;
    cursor: pointer;
}

.footer-bottom {
    border-top: 1px solid #bcbcbc;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #5A5B5E;
    cursor: pointer;
}

.social-icons {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    color: black;
}

@media (max-width: 900px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .footer-bottom {
        flex-direction: row;
        gap: 20px;
        text-align: center;
    }
}