* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
}

/* PAGE */
.page {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  margin: 0 auto;
  background: url("images/calculator.png") no-repeat center;
  background-size: cover;
  overflow: hidden;
}

/* OVERLAY */
.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.4);
}

/* NAVBAR */
.menu .active {
  font-weight: bold;
}

.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50px;
  background: rgba(255, 255, 255, 0.95);
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 40px;
  top: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
}

.logo img {
  height: 300%;
  width: auto;
  display: block;
  cursor: pointer;
}

.menu {
  position: absolute;
  right: 40px;
  top: 18px;
}

.menu span {
  margin-left: 28px;
  font-size: 14px;
  color: #6e5b54;

}

/* CALCULATOR */
.calculator {
  position: absolute;
  z-index: 5;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 420px;

  padding: 30px;
  border-radius: 22px;

  background: rgba(255, 255, 255, 0.28);
  backdrop-filter: blur(20px);
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.35);
  text-align: center;
}

.calculator h2 {
  color: white;
  margin-bottom: 20px;
}

/* RECTANGULAR INPUTS */
.rect {
  text-align: left;
  margin-bottom: 14px;
}

.rect label {
  display: block;
  font-size: 12px;
  color: white;
  margin-bottom: 6px;
}

.rect input {
  width: 100%;
  height: 42px;
  padding: 0 12px;
  border-radius: 10px;
  border: none;
  background: rgba(255, 255, 255, 0.9);
  outline: none;
}

/* BUTTON */
.calculator button {
  width: 100%;
  height: 42px;
  margin: 10px 0 20px;
  border-radius: 22px;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

/* RESULTS */
.results {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.result-box {
  flex: 1;
  background: rgba(255, 255, 255, 0.85);
  border-radius: 14px;
  padding: 12px;
  text-align: center;
}

.result-box span {
  display: block;
  font-size: 11px;
  color: #555;
}

.result-box strong {
  font-size: 14px;
}

/* Footer Styles */

.main-footer {
  background: rgba(97, 95, 95, 0.28);
  padding: 40px 60px 20px;
  font-family: "Fanwood Text";
}

.footer-content {
  display: grid;
  grid-template-columns: 1.2fr 1fr 1.2fr 1fr;
  gap: 40px;
  margin-bottom: 25px;
  align-items: flex-start;

}

.footer-logo img {
  margin-bottom: 30px;
  cursor: pointer;
}

.footer-col h4 {
  margin-bottom: 12px;
  color: #444;
}

.footer-col p {
  margin: 6px 0;
  font-size: 14px;
  color: #5A5B5E;
  cursor: pointer;
}

.footer-bottom {
  border-top: 1px solid #bcbcbc;
  padding-top: 15px;
  display: flex;
  justify-content: space-between;
  font-size: 13px;
  color: #5A5B5E;
  cursor: pointer;
}

.social-icons {
  display: flex;
  gap: 20px;
  font-size: 1.2rem;
  color: rgb(0, 0, 0);
}

@media (max-width: 900px) {
  .footer-content {
    grid-template-columns: 1fr;
    gap: 25px;
  }

  .footer-bottom {
    flex-direction: row;
    gap: 20px;
    text-align: center;
  }
}