body {
    margin: 0;
    font-family: Fanwood Text;
    background: #5A5B6A;
}
.nav {
    position: absolute;
    top: 0;
    width: 100%;
    height: 50px;
    background: rgba(255, 255, 255, 0.55);
    cursor: pointer;
}

.logo {
    position: absolute;
    left: 40px;
    top: 10px;
    display: flex;
    align-items: center;
    height: 40px;
    cursor: pointer;
}

.logo img {
    height: 300%;
    width: auto;
    display: block;
    cursor: pointer;
}

.menu {
    position: absolute;
    right: 40px;
    top: 18px;
}

.menu span {
    margin-left: 28px;
    font-size: 14px;
    color: #7a9c9c;
}
.contact-section {
    background: url("./image/contact.webp") center/cover;
    padding: 150px 60px;
    display: flex;
    gap: 40px;
}

.contact-cards {
    width: 45%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.card {
    background:#32405B;
    opacity: 89%;
    color: white;
    padding: 40px;
    text-align: center;
    border-radius: 20px;
    font-size: 18px;
    box-shadow: 0 20px 40px rgba(0,0,0,0.35);
    cursor: pointer;
    font-family: "Koh Santepheap";
}
 
.contact-form {
flex: 1;
align-self: center;
margin-left: 100px;
}

.contact-form form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 90%;

}

.contact-form input, .contact-form textarea {
    background: rgba(255, 255, 255, 0.8);
    padding: 15px 20px;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    font-family: "Koh Santepheap";
}

.contact-form button {
    background: #5d6d7e;
    color: white;
    padding: 12px 30px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    align-self: center;
    font-weight: bold;
    transition: 0.3s;
}

.contact-form button:hover {
    background: #34495e;
}


.main-footer {
    background: #F5F5F5;
    padding: 40px 60px 20px;
    font-family: "Fanwood Text";
}

.footer-content {
    display: grid;
    grid-template-columns: 1.2fr 1fr 1.2fr 1fr;
    gap: 40px;
    margin-bottom: 25px;
    align-items: flex-start;
  
}
.footer-logo img {
margin-bottom: 30px;
cursor: pointer;
}
.footer-col h4 {
    margin-bottom: 12px;
    color: #444;
}

.footer-col p {
    margin: 6px 0;
    font-size: 14px;
    color: #5A5B5E;
    cursor: pointer;
}
.footer-bottom {
    border-top: 1px solid #bcbcbc;
    padding-top: 15px;
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    color: #5A5B5E;
    cursor: pointer;
}
.social-icons {
    display: flex;
    gap: 20px;
    font-size: 1.2rem;
    color: black;
}
@media (max-width: 900px) {
    .footer-content {
        grid-template-columns: 1fr;
        gap: 25px;
    }

    .footer-bottom {
        flex-direction: row;
        gap: 20px;
        text-align: center;
    }
}
