* {
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  background: #000;
  overflow-x: hidden;
}

/* VIDEO BACKGROUND */
#bg-video {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* Cover the entire viewport */
  z-index: -1;
  /* Behind all content */
}

/* CANVAS */
#canvas {
  position: relative;
  width: 100vw;
  height: 100vh;
  max-width: 1920px;
  max-height: 1080px;
  margin: 0 auto;
}

/* NAVBAR */
.nav {
  position: absolute;
  top: 0;
  width: 100%;
  height: 60px;
  background: rgba(#68737e, 0.95);
  cursor: pointer;
}

.logo {
  position: absolute;
  left: 40px;
  top: 10px;
  display: flex;
  align-items: center;
  height: 40px;
  cursor: pointer;
  color: #68737e;
  font-style: bolder;
}

.logo img {
  height: 350%;
  width: auto;
  display: block;
  cursor: pointer;

}

.menu {
  position: absolute;
  right: 40px;
  top: 18px;
}

.menu span {
  margin-left: 28px;
  font-size: 20px;
   color: #68737e;
  font-style: bolder;
}

/* LEFT TEXT */
.left-text {
  font-family: 'Times New Roman', Times, serif;
  position: absolute;
  left: 90px;
  bottom: 150px;
  color: white;
  line-height: 1.7;
}

/* CIRCLE */
.circle {
  position: absolute;
  right: 120px;
  bottom: 90px;
  width: 9vw;
  height: 9vw;
  max-width: 160px;
  max-height: 160px;
  cursor: pointer;
}

.circle svg {
  width: 100%;
  height: 100%;
  animation: spin 12s linear infinite;
  cursor: pointer;
}

.arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  cursor: pointer;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* HELP */
.help {
  position: absolute;
  right: 120px;
  bottom: 50px;
  padding: 6px 16px;
  border: 1px solid white;
  border-radius: 20px;
  color: white;
  font-size: 12px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  margin: auto;
  padding: 60px 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 25px;
}

.cards {
  width: 90%;
  margin: 40px auto;
  padding: 60px 70px;
  display: flex;
  justify-content: center;
  gap: 40px;
}

.card:hover {
  transform: translateY(-9px);

}

.card {
  background: #68737e;
  color: white;
  padding: 30px;
  width: 220px;
  border-radius: 12px;
}

.card h3 {
  margin-bottom: 10px;
}
