* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Georgia", serif;
}

body {
  background: #e6ecea;
}

/* NAVBAR */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 50px;
  background: #e6ecea;
  
}

/* LOGO */
.logo img {
  height: 60px; /* adjust as needed */
  display: block;
}

/* NAV LINKS */
.navbar nav a {
  margin-left: 30px;
  text-decoration: none;
  color: #8a9a9a;
  font-size: 14px;
}

/* HERO */
.hero {
  position: relative;
  height: 75vh;
  background: url("./image/solarimg.png") center / cover no-repeat;
  color: white;
}

.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.1)
  );
}

.circle-container {
  position: absolute;
  right: 80px;          /* same as button's right position */
  bottom: 120px;        /* slightly above the button */
  width: 120px;
  height: 120px;
}

.circle-svg {
  width: 100%;
  height: 95%;
  animation: spin 12s linear infinite;
  cursor: pointer;
}

.circle-svg path {
  fill: none;
  stroke: white;
  stroke-width: 5; /* thin white circle */
}

.center-arrow {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -30%); /* slightly adjusted to center visually */
  font-size: 36px; /* bigger arrow */
  color: white;
  font-weight: bold;
  line-height: 0.3;
}






/* LEFT TEXT */
.hero-text {
  position: absolute;
  left: 80px;
  bottom: 100px;
  font-size: 18px;
  line-height: 1.6;
  z-index: 2;
}

/* BUTTON */
.hero-btn {
  position: absolute;
  right: 80px;
  bottom: 80px;
  background: rgba(255, 255, 255, 0.25);
  border: 1px solid white;
  color: white;
  padding: 10px 28px;
  border-radius: 50px;
  cursor: pointer;
  z-index: 2;
}

/* CIRCULAR TEXT */
.circle-text {
  position: absolute;
  right: 90px;
  bottom: 130px;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  z-index: 2;
 
}

.circle-text span {
  position: absolute;
  width: 100%;
  height: 100%;
  font-size: 22px;
  text-transform: uppercase;
  animation: spin 12s linear infinite;
}
.circle-svg svg {
  width: 100%;
  height: 100%;
  cursor: pointer;
}

@keyframes spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/* WHY SOLAR */
.why {
  text-align: center;
  padding: 60px 40px;
}

.why h2 {
  margin-bottom: 40px;
  color: #4a5d5d;
}

.cards {
  display: flex;
  justify-content: center;
  gap: 40px;
}

    .card:hover {
      transform:translateY(-9px);
      
    }
.card {
  background: #6f7c8b;
  color: white;
  padding: 30px;
  width: 220px;
  border-radius: 12px;
}

.card h3 {
  margin-bottom: 10px;
}
